.tour-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tour-container__start-tour {
  background-color: #302d61;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.tour-container__start-tour:hover {
  background-color: #484290;
}

.charts__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.nav-pills__lnk {
  background-color: #808080;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.nav-pills__lnk:hover, .nav-pills__lnk:active, .nav-pills__lnk.active {
  background-color: #0460a9;
}

.nav-pills__lnk.active:hover, .nav-pills__lnk.active:active {
  background-color: #0000A0;
}

.nav-pills__lnk+.nav-pills__lnk {
  margin-left: 5px;
}

.charts-pills {
  font-size: 20px;
}

.cities-pills {
  font-size: 14px;
}