<section class="charts">

  <div class="tour-container">
    <button class="tour-container__start-tour" (click)="startTour()" [disabled]="isActiveChart(charts.LINEAR)">
      Start the app tour
    </button>
  </div>

  <nav class="charts__nav nav-pills charts-pills">
    <a href="#" class="nav-pills__lnk" [class.active]="isActiveChart(charts.PIE)" (click)="goToChart(charts.PIE)">
      Pie chart
    </a>
    <a href="#" class="nav-pills__lnk" [class.active]="isActiveChart(charts.LINEAR)" (click)="goToChart(charts.LINEAR)">
      Linear chart
    </a>
  </nav>

  <div *ngIf="isActiveChart(charts.PIE)" class="charts__chart-container pie-chart-wrapper">
    <h3> {{pieChartHeading}} </h3>
    <pie-chart [data]="sunnyDays"></pie-chart>
    <nav class="pie-chart-wrapper__nav nav-pills cities-pills">
      <a href="#" class="nav-pills__lnk" [class.active]="isCityActive(cities.SAINT_PETERSBURG)" (click)="showCity(cities.SAINT_PETERSBURG)">
        Saint-Petersburg
      </a>
      <a href="#" class="nav-pills__lnk" [class.active]="isCityActive(cities.MOSCOW)" (click)="showCity(cities.MOSCOW)">
        Moscow
      </a>
      <a href="#" class="nav-pills__lnk" [class.active]="isCityActive(cities.SOCHI)" (click)="showCity(cities.SOCHI)">
        Sochi
      </a>
    </nav>
  </div>

  <div *ngIf="isActiveChart(charts.LINEAR)" class="charts__chart-container linear-chart-wrapper">
    <br><br><br>
    Will be implemented soon.
  </div>

</section>